<div class="text-center sign">
<h2>Change Password</h2>


<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs sign-wrap">
    <%= f.password_field :password, autocomplete: "off", placeholder: "New Password (6 or more characters)", class: "form-control", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password", class: "form-control", required: true %><br>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change Password" %>
  </div><br>
<% end %>

<span>
<%= render "devise/shared/links" %>
</span>
</div>


<!--<= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>-->
<!--<= f.input :password_confirmation, label: "Confirm your new password", required: true %>-->