<% @posts.each do |post| %>
  <% @post_user = User.find(Yori.find(post.id).user_id) %>
  <div class="recipe-wrapper">
    <div class="recipe-left">
      <div class="recipe-picture-wrapper">
        <a href="/yojo/yori/<%=post.yori_id%>">
          <img id="demo_book" src=<%= url_for(post.main_image) %>>
        </a>
      </div>
      <div class="recipe-name-wrapper">
        <h4 class="card-title">
          <a href="/yojo/yori/<%=post.yori_id%>"><%=post.title%></a>
          <a href="/yojo/kitchen/<%= @post_user.id %>"><p>by. <%= @post_user.username %></p></a>
        </h4>
      </div>
    </div>
    <div class="recipe-right">
        <p>Main: <span><%=post.main%></span></p>
        <p>Optional: <span><%=post.optional%></span></p>
        <p>Seasoning: <span><%=post.seasoning%></span></p>
    </div>
  </div>
<% end %>