<% @posts.each do |post| %>
  <% @post_user = post.yori.user %>
  <div class="recipe-wrapper">
    <div class="recipe-left">
      <div class="recipe-picture-wrapper">
        <a href="/yojo/yori/<%=post.yori_id%>">
          <img id="demo_book" src=<%= url_for(post.main_image) %>>
        </a>
      </div>
      <div class="recipe-name-wrapper">
        <a class="title" href="/yojo/yori/<%=post.yori_id%>"><%=post.title%></a><br>
        <a class="author" href="/yojo/kitchen/<%= @post_user.id %>">by. <%= @post_user.username %></a>
      </div>
    </div>
    <div class="recipe-right">
        <p>Main: <span><%=post.main%></span></p>
        <p>Optional: <span><%=post.optional%></span></p>
        <p>Seasoning: <span><%=post.seasoning%></span></p>
    </div>
  </div>
<% end %>