<!-- Sidebar -->
<div class="sidenav">
  <a href<% if user_signed_in? %>='/yojo/kitchen/<%=current_user.id%>'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="마이키친 페이지"><img class="icon" src="/assets/fridge.png"><p>my키친</p></a><br>
  
  <a href<% if user_signed_in? %>='/yojo/yori_book/<%=current_user.id%>/0'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="내 요리 & 스크랩한 레시피"><img class="icon" src="/assets/book.png"><p>my요리북</p></a><br>
  <a href<% if user_signed_in? %>='/yojo/new_yori'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="나만의 레시피를 올려보아요"><img class="icon" src="/assets/edit.png"><p>레시피 올리기</p></a><br>
</div>

<div class="yori-wrapper">
    <div class= "yori">
        <div class="yori-top">
            <div class="image-post"></div>
            <br>
               
            <div class="title-post">
                <p>요리명: <input id="title" class="bar bar-input" value="<%=@post.title%>" type="text" ></p>
                <p id="title-alert" ></p>
                <br>
                <p>설명글: <input id="subtitle" class="bar bar-input" value="<%=@post.subtitle%>" type="text" ></p>
                <p id="subtitle-alert"></p>
                <br>
            </div>
        </div>
        
        <div class="ingredient-post mt-4">
            <p>
                재료: <input id="ingredient_search" class="bar" type="text" placeholder="재료 검색...">
                <div id="ingredient_results"></div>
            </p>
            <br>
            
            <script>
                map.clear();
                new app.YoriIngredients;
            </script>
            
            <p id="main-alert"></p> <p id="quantity-alert"></p>
            <div class="row" style="display: inline-flex; width: 90%; margin-bottom: 1rem">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <b>필수</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -5vw">
                  <b>양념</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -2vw">
                  <b>재료</b>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -2vw">
                  <b>계량</b>
                </div>
            </div>
            
            <div id="new_yori_ingredients">
                <% @ingredients.each do |i| %>
                    <script>
                        map.set("<%=i.name%>", <%=i.id%>);
                    </script>
                    
                    <% @recipe = Recipe.find_by("ingredient_id = ? and yori_id = ?", i.id, @post.yori_id) %>
                    <div class="row" id="<%=i.name%>" style="display: inline-flex; width: 90%">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <input class="main_ingredient" type="checkbox" <% if @recipe.main %> checked <% end %>>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -5vw">
                        <input class="seasoning" type="checkbox" <% if @recipe.seasoning %> checked <% end %>>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6" style="margin-left: -2vw">
                        <div class="ingredient_name"><%=i.name%></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <input class="quantity" type="text" size="6" value="<%= @recipe.quantity %>">
                        <select class="unit">
                            <option <% if @recipe.unit == "g" %> selected <% end %> >g</option>
                            <option <% if @recipe.unit == "ml" %> selected <% end %>>ml</option>
                            <option <% if @recipe.unit == "개" %> selected <% end %>>개</option>
                            <option <% if @recipe.unit == "스푼" %> selected <% end %>>스푼</option>
                            <option <% if @recipe.unit == "조금" %> selected <% end %>>조금</option>
                        </select>
                    </div>
                    <button class="roundbtn" onclick="removeRow(this)">빼기</button>
                </div>
                <% end %>
            </div>
        </div>
        <br>
        
        <p style="text-align: left; margin-left: 5rem">조리법:</p>
        <p id="step-alert"></p>
        <div id="steps">
            <% for i in 1..@post.steps.length %>
                <div id="<%=i%>">
                    <div class="step_num">STEP <%=i%></div>
                    [사진] <textarea id="step<%=i%>" class="bar" rows="5" cols="50"></textarea>
                    <%if i > 1%><button class="roundbtn" onclick="removeStep(this)">삭제</button><%end%>
                </div>
                <script>
                    $("#step<%=i%>").val("<%=@post.steps[i-1]%>");
                </script>
                <br>
            <% end %>
        </div>
        
        <button class="roundbtn" onclick="addStep()">STEP 추가</button>
        <br>
        <br>
        <br>
        
        <button class="roundbtn" onclick="updateYori()">수정</button>
        <button class="roundbtn" onclick="back()">취소</button>
    </div>
</div>

<script>
    var step = <%=@post.steps.length%>;
    
    function updateYori() {
        var title = $('#title').val();
        var subtitle = $('#subtitle').val()
        var main_ingredient = "", optional_ingredient = "", seasoning = "";
        var steps = [];
        var ingredients = [], types = [], quantities = [], units = [];
        
        map.forEach(function(value, key) {
            var row = $('div[id="'+key+'"]').children().children();
            var main = row[0].checked;
            var season = row[1].checked;
            var name = row[2].innerHTML;
            var quantity = $('div[id="'+key+'"]').children().children('.quantity').val();
            var unit = $('div[id="'+key+'"]').children().children('.unit').children('option:selected').text();
            
            if (main) {
                main_ingredient += name+" ("+quantity+unit+"), ";
            }
            if (season) seasoning += name+" ("+quantity+unit+"), ";
            if (!main && !season) optional_ingredient += name+" ("+quantity+unit+"), ";
            
            ingredients.push(value);
            if (main && season) types.push(1);
            if (main && !season) types.push(2);
            if (!main && season) types.push(3);
            if (!main && !season) types.push(4);
            quantities.push(quantity);
            units.push(unit);
        });
        main_ingredient = main_ingredient.substring(0, main_ingredient.length-2);
        optional_ingredient = optional_ingredient.substring(0, optional_ingredient.length-2);
        seasoning = seasoning.substring(0, seasoning.length-2);
        
        for (i = 1; i <= step; i++) {
            steps.push($("#"+i).children('textarea').val());
        }
        
        var empty_quantity = false;
        console.log(quantities);
        quantities.forEach(function(i) {
            if (i == "") {
                empty_quantity = true;
            }
        });
        
        var empty_step = false;
        console.log(steps);
        steps.forEach(function(i) {
            if (i == "") {
                empty_step = true;
            }
        });
        
        if (title == "" || main_ingredient == "" || empty_quantity || empty_step) {
            if (title == "") {
                $("#title-alert")[0].innerHTML = "*레시피 제목을 추가해주세요*";
            } else {
                $("#title-alert")[0].innerHTML = "";
            }
            
            if (main_ingredient == "") {
                $("#main-alert")[0].innerHTML = "*필수 재료를 추가해주세요*"
            } else {
                $("#main-alert")[0].innerHTML = "";
            }
            
            if (empty_step) {
                $("#step-alert")[0].innerHTML = "*조리 과정을 추가해주세요*"
            } else {
                $("#step-alert")[0].innerHTML = "";
            }
           
            if (empty_quantity) {
                $("#quantity-alert")[0].innerHTML = "*계량을 추가해주세요*"
            } else {
                $("#quantity-alert")[0].innerHTML = "";
            }
        }
        else {
            console.log(title);
            console.log(subtitle);
            console.log(main_ingredient);
            console.log(optional_ingredient);
            console.log(seasoning);
            console.log(steps);
            console.log(ingredients);
           
            $.ajax({
                url : "/yojo/update_yori/<%=@post.yori_id%>",
                type : "get",
                data : {user: <%=current_user.id%>,
                        title: title,
                        subtitle: subtitle,
                        main: main_ingredient,
                        optional: optional_ingredient,
                        seasoning: seasoning,
                        steps: steps,
                        ingredients: ingredients,
                        types: types,
                        quantities: quantities,
                        units: units
                }
            });
        }
    }
</script>