<!-- Home Page-->   
<header class="masthead d-flex" >
  <div class="container text-center my-auto">
    <p class="mb-1 "> 우리집 셰프는 YOJO </p>
    <h1 class="mb-5" id=logo >YO<a id="yojo">RI</a>JO<a id="yojo">RI</a></h1>
    <a class="btn btn-primary btn-xl rounded-pill js-scroll-trigger" id="rounded" href="#search">재료 조합하러 가기</a>
  </div>
  <div class="overlay"></div>
</header>

<!-- Search Page-->
<div class="main">
  <div class="types">
    <input type="radio" name="search type" onclick="switchSearch(this)" value=1 
    <% if @type == 1 %>
      checked
    <% end %>
    >재료 조합하기
    <input type="radio" name="search type" onclick="switchSearch(this)" value=2
    <% if @type == 2 %>
      checked
    <% end %>
    >요리 검색하기
    <input type="radio" name="search type" onclick="switchSearch(this)" value=3
    <% if @type == 3 %>
      checked
    <% end %>
    >아이디로 검색하기
  </div>
  <br>
  
  <form action="/" id="search" >
      <% if @type == 1 %>
          재료: 
          <input id="ingredient_search" class="bar" type="text">
          <button id="button" type="button" onclick="combine()">조합</button>
          
          <div id="ingredient_results"></div>
          
          <script>
            map.clear();
            new app.SearchIngredients;
            
            $("#ingredient_search").keydown(function(event) {
               if (event.keyCode == 13) {
                   event.preventDefault();
               }
            });
          </script>
      <% elsif @type == 2 %>
          요리:
          <input class="bar" type="text" name="yori" autocomplete="off" autofocus>
          <input type="submit" value="검색">
      <% else %>
          아이디:
          <input class="bar" type="text" name="id" autocomplete="off" autofocus>
          <input type="submit" value="검색">
      <% end %>
  </form>
  <div id="filters"></div>
</div>

<div id="results">
    <% if @results != nil %>
        <% @results.each do |result| %>
            <%= result.name %>
            <span id="username"><%= result.user.username %></span>
            <br>
        <% end %>
    <% end %>
</div>
<br>

<script>
    function combine() {
        console.log(map);
        var array = [];
        map.forEach(function(value, key) {
            array.push(value);
        });
        
        $.ajax({
            url : "/yojo/combine",
            type : "get",
            data : { data_value: array }
        });
    }
    
    function switchSearch(radio) {
        // can comment if we want to keep our filters
        if (radio.value != 1) {
            $("#filters span").remove();
        }
        
        $.ajax({
            url : "/yojo/switch",
            type : "get",
            data : { data_value: radio.value }
        });
    }
</script>


<!--Navigation-->
          
<div class="row" style="width: 100%">
  <div class="col-lg-2 col-md-4 col-sm-6">
    <a href='/yojo/kitchen' data-toggle="tooltip" data-placement="right" title="마이키친 페이지" id="kitchen"><img class="icon" src="/assets/fridge.png"><p>마이키친</p></a><br>
    <a href='/yojo/yori_book' data-toggle="tooltip" data-placement="right" title="요리북"><img class="icon" src="/assets/book.png"><p>요리북</p></a><br>
    <a href='/yojo/new_yori'data-toggle="tooltip" data-placement="right" title="레시피 올리기"><img class="icon" src="/assets/edit.png"><p>레시피 올리기</p></a><br>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="/"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="/yojo/yori/1"><%=Yori.find(1).name%></a>
        </h4>
        <p class="card-text"><%=Post.find_by(yori_id: 1).main%></p>
      </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="/yojo/yori/2"><%=Yori.find(2).name%></a>
        </h4>
        <p class="card-text"><%=Post.find_by(yori_id: 2).main%></p>
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="/yojo/yori/3"><%=Yori.find(3).name%></a>
        </h4>
        <p class="card-text"><%=Post.find_by(yori_id: 3).main%></p>
      </div>
    </div>
  </div>
</div>

<!--Script-->
<script src= "https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src= "https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src= "https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/js/stylish-portfolio.min.js"></script>