<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--Header-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">YOJO</a>
        <div class="navbar-collapse" style="">
          <ul class="navbar-nav ml-auto">
            <li>
              <% if user_signed_in? %>
                <li class="nav-link">
                <%= link_to 'Log Out', destroy_user_session_path, method: 'delete' %>
                </li>
              <% else %>
                <li class="nav-link">
                <%= link_to 'Log In', new_user_session_path %>
                </li>
                <li class="nav-link">
                <%= link_to 'Sign Up', new_user_registration_path %>
                </li>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div>
        <h2> My Kitchen </h2>
    </div>
    
    
    <div class="main-wrapper">
        <div class="main-left">
            <div class="fridge-wrapper">
                <% if user_signed_in? %>
                    <div id="fridge" class="fridge-top">
                        <div class="fridge-left">
                            <% if @kitchen != nil %>
                                <% @kitchen.ingredients.each do |i| %>
                                    <%= Ingredient.find(i).name %>
                                <% end %>
                            <% end %> 
                        </div>
                        <span class="fridge-handle-left"></span>
                        <span class="fridge-handle-right"></span>
                    </div>
                    <div class="fridge-bottom">
                        재료: 
                        <input id="ingredient_search" class="bar" type="text" autofocus>
                        <button id="button" type="button" onclick="addIngredients()">업데이트</button>
                        
                        <div id="ingredient_results"></div>
                        
                        <div id="filters"></div>
                        <script>
                            $(function() {
                                new app.Ingredients;
                            });
                            
                            $("#ingredient_search").keydown(function(event) {
                                 if (event.keyCode == 13) {
                                     event.preventDefault();
                                 }
                            });
                            
                            function removeFilter(a) {
                                var name = a.innerHTML;
                                map.delete(name);
                                a.remove();
                            }
                            
                            function addIngredients() {
                                console.log(map);
                                var array = [];
                                map.forEach(function(value, key) {
                                    array.push(value.id);
                                });
                                
                                $.ajax({
                                    url : "/yojo/addIngredients",
                                    type : "get",
                                    data : { user: <%=current_user.id%>,
                                            list: array
                                    }
                                });
                            }
                        </script>
                        <span class="fridge-handle-bottom"></span>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="main-right">
            <div class="shelf-wrapper">
                <div class="shelf-upper">
                    <div>
                        <a href="/users/edit">비밀번호바꾸기</a>
                    </div>
                </div>
                <div class="shelf-lower">
                    <div>
                        <a href="/yojo/yori_book"> <img class="icon" src="/assets/book.png" /></a>
                        요리북
                    </div>
                </div>
                <div class="shelf-bottom">
                    <ul>
                        <li class="shelf-yoribook">
                            <a><p>YORIBOOK</p></a>
                        </li>
                        <li class="shelf-postyori">
                            <a href="/yojo/new_yori"><p>POST YORI</p></a>
                        </li>
                        <li class="shelf-yorijohap">
                            <a href="/#search"><p>YORI JOHAP</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="recommendation-wrapper">
                <p>추천 레시피</p>
            </div>
        </div>
    </div>
    
    
<% if !user_signed_in? %>

    <script>
        // add popup class to fade
        document.body.className = 'show-popup';
        // alert ("로그인을 하세요 :)");
        
        window.onload = function () {
            
            alert ("로그인을 하세요 :)");
            
            // remove popup class to fade
            // TODO: this should be moved to auth callback
            // document.body.className = '';
        }
        
    </script>
    
<% end %>