<h2> My Kitchen </h2>

<div class="main-wrapper">
    <div class="main-left">
        <div class="fridge-wrapper">
            <% if user_signed_in? %>
                <div id="fridge" class="fridge-top">
                    <div class="fridge-left">
                        <% if @kitchen != nil %>
                            <% @kitchen.ingredients.each do |i| %>
                                <%= Ingredient.find(i).name %>
                            <% end %>
                        <% end %> 
                    </div>
                    <span class="fridge-handle-left"></span>
                    <span class="fridge-handle-right"></span>
                </div>
                <div class="fridge-bottom">
                    <input align="right" id="ingredient_search" class="bar" type="text" autofocus>
                    <button id="button" type="button" onclick="addIngredients()">업데이트</button>
                    
                    <div id="ingredient_results"></div>
                    
                    <div id="filters"></div>
                    <script>
                        map.clear();
                        new app.SearchIngredients;
                        
                        function addIngredients() {
                            console.log(map);
                            var array = [];
                            map.forEach(function(value, key) {
                                array.push(value);
                            });
                            
                            $.ajax({
                                url : "/yojo/addIngredients",
                                type : "get",
                                data : { user: <%=current_user.id%>,
                                        list: array
                                }
                            });
                        }
                    </script>
                    <span class="fridge-handle-bottom"></span>
                </div>
            <% end %>
        </div>
    </div>
    <div class="main-right">
        <div class="shelf-wrapper">
            
            <div class="shelf-upper">
                <ul>
                    <li>
                        <a href="/users/edit"><img class="icon" src="/assets/profile.png" /><p>프로필 수정</p></a>
                    </li>
                    <li>
                      <% if user_signed_in? %>
                        <li>
                            <%= @user.username %>
                            <%= @user.email %>
                        </li>
                      <% else %>
                        <li>please sign In 
                        </li>
                      <% end %>
                    </li>
                                    
                </ul>
            </div>
            
            <div class="shelf-lower">
                
            </div>
            
            <div class="shelf-bottom">
                <ul>
                    <li class="shelf-yoribook">
                        <a href="/yojo/yori_book"><span>요리북</span></a>
                    </li>
                    <li class="shelf-postyori">
                        <a href="/yojo/new_yori"><span>레시피 올리기</span></a>
                    </li>
                    <li class="shelf-yorijohap">
                        <a href="/#search"><span>요리 조합</span></a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="recommendation-wrapper">
             <div class="row">
              <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="/"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/yojo/yori/1"><%=Yori.find(1).name%></a>
                        </h4>
                        <p class="card-text"><%=Post.find_by(yori_id: 1).main%></p>
                    </div>
                </div>
              </div>
              
              <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/yojo/yori/2"><%=Yori.find(2).name%></a>
                        </h4>
                        <p class="card-text"><%=Post.find_by(yori_id: 2).main%></p>
                    </div>
                </div>
              </div>
            
              <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/yojo/yori/3"><%=Yori.find(3).name%></a>
                        </h4>
                        <p class="card-text"><%=Post.find_by(yori_id: 3).main%></p>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>