<div class="kitchen-background-wrapper">
    <div class="main-wrapper">
        <div class="main-left">
            <div class="fridge-wrapper">
                <% if user_signed_in? %>
                    <div id="fridge" class="fridge-top">
                        <div class="fridge-top-inner">
                            <script>
                                map.clear();
                            </script>
                            <% if @kitchen != nil %>
                                <ul id="kitchen_list" style="list-style-type: none; padding: 0px;">
                                <% @kitchen.ingredients.each do |i| %>
                                    <% @ingredient = Ingredient.find(i) %>
                                    <% if @ingredient != nil %>
                                        <li id="kitchen_list_li" <% if current_user.id == @kitchen_user.id %>
                                            onclick="removeFilter(this)"><%=@ingredient.name%> X</li>
                                        <% else %>><%=@ingredient.name%><% end %></li>
                                        
                                        <% if current_user.id == @kitchen_user.id %>
                                            <script>
                                                map.set("<%=@ingredient.name%> X", <%=@ingredient.id%>);
                                            </script>
                                        <% end %>
                                    <% end %>
                                <% end %>
                                </ul>
                            <% end %>
                        </div>
                        
                        <% if current_user.id == @kitchen_user.id %>
                            <div id="fridge-search" style="position:absolute; left: 9.2vw; bottom: 1rem">
                                <input id="ingredient_search" class="bar" placeholder="Search ingredient" type="text" autofocus>
                            </div>
                            <br>
                        <% end %>
                        
                        <span class="fridge-door-left"></span>
                        <span class="fridge-door-right"></span>
                    </div>
                    <div class="fridge-bottom">
                        <div id="ingredient_results"></div>
                        <br>
                        <br>
                        
                        <button id="open_fridge" class="roundbtn" data-toggle="tooltip" data-placement="top" title="Add ingredient">Open fridge</button>
                        <button id="close_fridge" class="roundbtn" data-toggle="tooltip" data-placement="top" title="Save ingredient">Close fridge</button>
                            <script>
                                $(document).ready(function () {
                                    $('[data-toggle="tooltip"]').tooltip();
                                });
                            </script>
                        
                        <span class="fridge-handle-bottom"></span>
                    </div>  
                <% end %>
            </div>
        </div>
        <div class="main-right">
            <div class="shelf-wrapper">
                <div class="shelf-upper font">
                    <ul>
                        <li>
                        <% if @kitchen_user.id == current_user.id %>
                            <a href="/users/edit"><img class="icon" src="/assets/profile.png" /><p id="profile">Edit Profile</p></a>
                        <% else %>
                            <a href onclick="follow()"><img class="icon" src="/assets/profile.png" />
                                <p id="follow">
                                    <% if @follows.length == 0 %>
                                        Follow
                                    <% else %>
                                        Unfollow
                                    <% end %>
                                </p></a>
                        <% end %>
                        </li>
                        <li>
                          <% if user_signed_in? %>
                            <span>
                                User:
                                <p><%= @kitchen_user.username %></p>
                                Email:
                                <p><%= @kitchen_user.email %></p>
                            </span>
                          <% else %>
                            <li>please sign In 
                            </li>
                          <% end %>
                        </li>
                                        
                    </ul>
                </div>
                
                <div class="modal fade" id="like_modal" role="dialog" style="position:absolute">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 style="position: absolute;">Likes</h4>
                        </div>
                        <div class="modal-body">
                            <% if @posts.length > 0 %>
                                <ul>
                                    <% @posts.each do |post| %>
                                        <li><a href="/yojo/yori/<%=post.id%>" target><%=post.title%> <%=post.likes.length%></a></li>
                                        
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="modal fade" id="follower_modal" role="dialog" style="position:absolute">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 style="position: absolute; left: 1rem">Follower</h4>
                        </div>
                        <div class="modal-body">
                            <% if @followers.length > 0 %>
                                <ul>
                                    <% @followers.each do |follower| %>
                                        <a href="/yojo/kitchen/<%=follower.id%>" target><li><%=follower.username%></li></a>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="modal fade" id="following_modal" role="dialog" style="position:absolute">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 style="position: absolute; left: 1rem">Following</h4>
                        </div>
                        <div class="modal-body">
                            <% if @followees.length > 0 %>
                                <ul>
                                    <% @followees.each do |followee| %>
                                        <a href="/yojo/kitchen/<%=followee.id%>" target><li><%=followee.username%></li></a>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="shelf-lower">
                    <div class="center">
                        <a class="jar">
                            <div id="recipes"><img class="icon" src="/assets/pot.png"><p><%=@posts.length%> Recipes</p></div>
                        </a>
                        <a class="jar" id="like_jar" data-toggle="modal" data-target="#like_modal">
                            <div id="likes"><img class="icon" src="/assets/jar.png"><p><%=@likes%> Likes</p></div>
                        </a>
                        <a class="jar" id="follower_jar" data-toggle="modal" data-target="#follower_modal">
                            <div id="follower"><img class="icon" src="/assets/plate.png"><p><%=@followers.length%> Follower</p></div>
                        </a>
                        <a class="jar" id="followee_jar" data-toggle="modal" data-target="#following_modal">
                            <div id="following"><img class="icon" src="/assets/bowl.png"><p><%=@followees.length%> Following</p></div>
                        </a>
                    </div>
                </div>
                
                <div class="shelf-bottom">
                    <ul>
                        <li class="shelf-yoribook">
                            <a href="/yojo/yori_book/<%=@kitchen_user.id%>"><span><%=@kitchen_user.username%>'s YoriBook</span></a>
                        </li>
                        <li class="shelf-postyori">
                            <a href="/yojo/new_yori"><span>Upload Recipe</span></a>
                        </li>
                        <li class="shelf-yorijohap">
                            <a href="/#johab"><span>Find Recipes</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <% if @yoris != nil and @yoris.length > 0 %>
                        <% @count = 0 %>
                        <% @yoris.each do |yori| %>
                            <% @user = User.find(yori.user_id) %>
                            <% @post = Post.find(yori.id) %>
                            <% if @count % 3 == 0 %>
                                <div class="carousel-item <%if @count == 0%>active<%end%>">
                                    <div class="row" style="height: 100%">
                            <% end %>
                            <div class="col-md-4 col-sm-6 portfolio-item">
                                <div class="card h-100">
                                    <!--<a href="/"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
                                    <a href="/yojo/yori/<%=yori.id%>"><img class="card-img-top" src=<%= @post.image %> alt=""></a>
                                    <div class="card-body1">
                                        <h4 class="card-title">
                                            <a href="/yojo/yori/<%=yori.id%>"><%=yori.name%></a>
                                            <a href="/yojo/kitchen/<%= @user.id %>"><p>by. <%= @user.username %></p></a>
                                        </h4>
                                        <p class="card-text"><%=Post.find_by(yori_id: yori.id).main%></p>
                                    </div>
                                </div>
                            </div>
                            
                            <% if @count % 3 == 2 %>
                                    </div>
                                </div>
                            <% end %>
                            <% @count += 1 %>
                        <% end %>
                        
                        <% if @count % 3 != 0 %>
                                </div>
                            </div>
                        <% end %> 
                        
                        <% if @count > 3 %>
                            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" ></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        <% end %>
                    <% else %>
                        <img src="/assets/bottom-shelf.png" style="width:100%;height:100%;opacity:0.7">
                        <span class="carousel-message-1" align="center">PLEASE FILL IN THE FRIDGE</span>
                        <span class="carousel-message-2" align="center">TO GET RECIPE RECOMMENDATIONS</span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    <% if current_user.id == @kitchen_user.id %>
        new app.KitchenIngredients;    
    <% end %>
    $("#open_fridge").click(function() {
        $(".fridge-wrapper").addClass("fridge-opened");
        $("#kitchen_list").css('display', 'inline-block');
        $("#ingredient_search").css('display', 'inline-block');
        $("#update_button").css('display', 'inline-block');
        $("#open_fridge").css('display', 'none');
        $("#close_fridge").css('display', 'inline-block');
        
    });
    
    $("#close_fridge").click(function() {
        $(".fridge-wrapper").removeClass("fridge-opened");
        // $("#kitchen_list").css('display', 'none');
        // $("#ingredient_search").css('display', 'none');
        // $("#update_button").css('display', 'none');
        $("#close_fridge").css('display', 'none');
        $("#open_fridge").css('display', 'inline-block');
        setTimeout(function(){
            <% if current_user.id == @kitchen_user.id %>
                addIngredients();
            <% end %>
        }, 800);
    });
    
    function addIngredients() {
        console.log(map);
        var array = [];
        
        map.forEach(function(value, key) {
            array.push(value);
        });
        
        $.ajax({
            url : "/yojo/addIngredients",
            type : "get",
            data : { list: array }
        });
    }
    
    function follow() {
        <% if user_signed_in? and current_user.id != @kitchen_user.id %>
            <% if @follows.length == 0 %>
                $.ajax({
                    url : "/yojo/follow",
                    type : "get",
                    data : {
                        follower_id: <%=current_user.id%>,
                        followee_id: <%=@kitchen_user.id%>
                    }
                });
                // $("#follow")[0].innerHTML = "팔로우 취소";
            <% else %>
                $.ajax({
                    url : "/yojo/unfollow",
                    type : "get",
                    data : {
                        follow_id: <%=@follows.first.id%>,
                        kitchen_user_id: <%=@kitchen_user.id%>
                    }
                });
                // $("#follow")[0].innerHTML = "팔로우 하기";
            <% end %>
        <% end %>
    }
</script>