<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Home Page-->   
     <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <p class="mb-1 "> 우리집 셰프는 YOJO </p>
            <h1 class="mb-5 "> YORIJORI </h1>
            <a class="btn btn-primary btn-xl rounded-pill js-scroll-trigger mt-5" href="#search">재료 조합하러 가기</a>
        </div>
        <div class="overlay"></div>
    </header>

<!-- Search Page-->
    <section class="content-section bg-light" id="search">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <form>
                <input type="radio" name="search type" checked> 재료 조합하기
                <input type="radio" name="search type"> 레시피 검색하기
                <input type="radio" name="search type"> 아이디로 검색하기
            </form>
            <form>
                <p>
                <input type="text">
                <input type='submit'>
                </p>
            </form>
            <form>
                <input type="radio" name="search type" checked> 오늘의 추천메뉴
                <input type="radio" name="search type"> 신메뉴
                <input type="radio" name="search type"> 이번주 베스트
                <input type="radio" name="search type"> 이번달 베스트
            </form> 
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">요리 이름 1</a>
              </h4>
              <p class="card-text">필요한 재료 리스트</p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">요리 이름 2</a>
              </h4>
              <p class="card-text">필요한 재료 리스트</p>
            </div>
          </div>
        </div>
      </div>
      
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">요리 이름 3</a>
              </h4>
              <p class="card-text">필요한 재료 리스트</p>
            </div>
          </div>
        </div>

     </section>  
    
    <% if user_signed_in? %>
        <%= link_to '로그아웃', destroy_user_session_path, method: 'delete' %>
    <% else %>
        <%= link_to '로그인', new_user_session_path %>
        <%= link_to '회원가입', new_user_registration_path %>
    <% end %>
    

<!--Navigation-->
<a href='/yojo/test'>KITCHEN</a> <br>
<a>SCRAP BOOK</a>


<!--Script-->
<script src= "https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/jquery/jquery.min.js"></script>
<script src= "https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src= "https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src= "https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/js/stylish-portfolio.min.js"></script>

<% recipe = Recipe.first %>

<% if can? :update, recipe %>
    <td><%= link_to '편집하기', edit_yori_path(recipe) %></td>
<% end %>
<% if can? :destroy, recipe %>
    <td>
        <%= link_to '삭제하기',
        recipe,
        method: :delete,
        data: { confirm: '삭제하시겠습니까?' }
        %>
    </td>
<% end %>