<!-- Sidebar -->
<div class="sidenav">
  <a href<% if user_signed_in? %>='/yojo/kitchen/<%=current_user.id%>'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="your kitchen page"><img class="icon" src="/assets/fridge.png"><p>My Kitchen</p></a><br>
  
  <a href<% if user_signed_in? %>='/yojo/yori_book/<%=current_user.id%>'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="My recipe & scrap recipe"><img class="icon" src="/assets/book.png"><p>My YoriBook</p></a><br>
  <a href<% if user_signed_in? %>='/yojo/new_yori'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="post your own recipe"><img class="icon" src="/assets/edit.png"><p>Upload Recipe</p></a><br>
</div>
     
<div class="yori-wrapper">
    <div class="title">
        <h1 class="mt-5"><%= @yori.name %></h1>
        <% if user_signed_in? %>
            <a href="/yojo/kitchen/<%=@user.id%>"><p> by. <%= @user.username %></p></a>
        <% else %>
            <p> by. <%= @user.username %></p>
        <% end %>
        <br>
        
        <span id="date-wrapper">
            <% @date = @yori.created_at %>
            <%= @date.strftime("%Y. %m. %d.") %>
        </span>
        
        <% if @post.subtitle != "" %> 
            <p class=sub><%= @post.subtitle %></p>
        <% else %>
            <br>
        <% end %>
        
        <span id="like-wrapper">
            <a onclick=<% if user_signed_in? %>"like()"<% else %>"guestWarning()"<% end %>>
                <% if @likes.length == 0 %>
                    <img src='/assets/tomato.png' onmouseover="this.src='/assets/tomato-hover.png'" onmouseout="this.src='/assets/tomato.png'" />
                <% else %>
                    <img src='/assets/tomato-color.png' onmouseover="this.src='/assets/tomato-hover.png'" onmouseout="this.src='/assets/tomato-color.png'" />
                <% end %>
            </a>
            <a id="likes" data-toggle="modal" data-target="#like_modal">
                <%=@post.likes.length%> likes
            </a>
        </span>
        
        <span id="scrap-wrapper">
            <a onclick=<% if user_signed_in? %>"scrap()"<% else %>"guestWarning()"<% end %>>
                <% if @scraps.length == 0 %>
                    <img src='/assets/scoop.png' onmouseover="this.src='/assets/scoop-hover.png'" onmouseout="this.src='/assets/scoop.png'" />
                <% else %>
                    <img src='/assets/scoop-color.png' onmouseover="this.src='/assets/scoop-hover.png'" onmouseout="this.src='/assets/scoop-color.png'" />
                <% end %>
            </a>
            <a id="scraps" data-toggle="modal" data-target="#scrap_modal">
                <%=@post.scraps.length%> scoops
            </a>
        </span>
    </div>
    
    <div class="modal fade" id="like_modal" role="dialog" style="position:absolute">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 style="position: absolute;">Likes</h4>
            </div>
            <div class="modal-body">                            
                <% if @post_likes.length > 0 %>
                    <ul>
                    <% @post_likes.each do |like| %>
                        <li><a href="/yojo/kitchen/<%=like.user_id%>" target> <%= User.find(like.user_id).username %></a></li>
                    <% end %>
                    </ul>
                <% end %>
            </div>
          </div>
        </div>
    </div>
    

    <div class="modal fade" id="scrap_modal" role="dialog" style="position:absolute">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 style="position: absolute;">Scoops</h4>
            </div>
            <div class="modal-body">                            
                <% if @post_scraps.length > 0 %>
                    <ul>
                    <% @post_scraps.each do |scrap| %>
                        <li><a href="/yojo/kitchen/<%=scrap.user_id%>" target> <%= User.find(scrap.user_id).username %></a></li>
                    <% end %>
                    </ul>
                <% end %>
            </div>
          </div>
        </div>
    </div>
    
    <div class="yori">
        <div class="yori-top">
            <div class="image">
                <img id="demo" src=<%= @post.image %>>
            </div>
            
            <div class="ingredient">
                <% if @post.main != "" %>
                    <h4>Main</h4>
                    <p><%= @post.main %></p>
                <% end %>
                
                <% if @post.optional != "" %>
                    <h4>Optional</h4> 
                    <p><%= @post.optional %></p>
                <% end %>
                
                <% if @post.seasoning != "" %>
                    <h4>Seasoning</h4> 
                    <p><%= @post.seasoning %></p>
                <% end %>
            </div>
        </div>
        
        <% if @post.steps[0] != "" %>
            <% for i in 1..@post.steps.length %>
            <div class="steps mt-4">
                <p>STEP <%=i%><br>
                <%=@post.steps[i-1]%></p>
            </div>
            <% end %>
        <% end %>
    
        <br>
        
        <% if user_signed_in? %>
            <% if current_user.id == @yori.user_id %>
                <a class="roundbtn" href="/yojo/edit_yori/<%= @yori.id %>">edit</a>
                <a class="roundbtn" href="/yojo/destroy_yori/<%= @yori.id %>" data-confirm="Delete this post?" data-method="delete" rel="nofollow">delete</a>
            <% end %>
        <% end %>
        
        <a class="roundbtn" href onclick="back()">back</a>
        
        <hr>
        <h4 style="margin: 2rem">Comments</h4>
        <%= form_with url: "/yojo/yori/#{@yori.id}/comments/create" do |f| %>
            <%= f.text_field(:input_comment, class:"bar") %>
            <%= f.submit("comment", class:"roundbtn") %>
        <% end %>
        
        <hr>
        <% @comments.each do |comment| %>
            <p>
                <a id="comment" href="/yojo/kitchen/<%=comment.user_id%>"> <%= comment.username %></a> - <%= comment.content %>
                <% if user_signed_in? and current_user.id == comment.user_id %>
                    <a id="comment" href="/yojo/yori/<%= @yori.id %>/comments/destroy/<%= comment.id %>" data-confirm="Delete this comment?" data-method="delete" rel="nofollow">  x</a>
                <% end %>                
            </p>
        <% end %>
        
        <script>
            function like() {
                <% if user_signed_in? %>
                    $.ajax({
                        url : "/yojo/like",
                        type : "post",
                        data : { 
                            user_id: <%=current_user.id%>,
                            post_id: <%=@post.id%>
                        }
                    });
                <% end %>
            }
            
            function scrap() {
                <% if user_signed_in? %>
                    $.ajax({
                        url : "/yojo/scrap",
                        type : "post",
                        data : {
                            user_id: <%=current_user.id%>,
                            post_id: <%=@post.id%>
                        }
                    });
                <% end %>
            }
        </script>
        
     </div>
</div>

