<!--Yoribook--> 

<div class="main-wrapper yoribook">
  <div class="navi-tab">
    <a href="/#search"><button style="right: 5px">요리조합</button></a>
    <a href="/yojo/kitchen/<%=current_user.id%>"><button style="right: 0px">my키친</button></a>
    <a href="/yojo/new_yori"><button style="width: 105px; right: 4px; top: 10px">레시피 올리기</button></a>
  </div>
  
  <% if @user.id == current_user.id %>
    <div class="book-tab">
        <button style="left: -5px" onclick="tabClicked(1, 0)">내 레시피</button>
        <button style="left: 0px" onclick="tabClicked(2, 0)">스크랩</button>
        <button style="left: 3px" onclick="tabClicked(3, 0)">팔로잉</button>
        <!--<button style="left: 20px" onclick="tabClicked(4, 0)">전체보기</button>-->
    </div>
  <% end %>
  
  <div class="cover-wrapper">
    <% @posts.each do |post| %>
      <div class="recipe-wrapper">
        <div class="recipe-left">
          <div class="recipe-picture-wrapper">
          </div>
          <div class="recipe-name-wrapper">
            <h4 class="card-title">
              <a href="/yojo/yori/<%=post.yori_id%>"><%=post.title%></a>
              <a href="/yojo/kitchen/<%= @user.id %>"><p>by. <%= @user.username %></p></a>
            </h4>
          </div>
        </div>
        <div class="recipe-right">
          <p>매인재료: <%=post.main%></p>
          <p>선택재료: <%=post.optional%></p>
          <p>양념: <%=post.seasoning%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="page-center">
  <% if @posts.length > 0 %>
    <ul id="page-list" class="pagination">
      <li class="page-item"><a class="page-link" <% if @current_page > 0 %>
      onclick="tabClicked(<%=1%>, <%=@current_page-1%>)"<%end%>>prev</a></li>
    <% for i in 0...@max_page %>
      <li class="page-item"><a <%if i == @current_page%>id="current-page"<%end%> class="page-link"
      onclick="tabClicked(<%=1%>, <%=i%>)"><%=i+1%></a></li>
    <% end %>
      <li class="page-item"><a class="page-link" <% if @current_page+1 < @max_page %>
      onclick="tabClicked(<%=1%>, <%=@current_page+1%>)"<%end%>>next</a></li>
    </ul>
    <a href="/yojo/kitchen/<%=@user.id%>" style="position: absolute; left: 5rem;"><p><%=@user.username%>님 키친으로 돌아가기</p></a>
  <% end %>
</div>


<script>
  function tabClicked(type, page) {
    $.ajax({
        url : "/yojo/booktab",
        type : "get",
        data : {
          tab: type,
          page_number: page,
          user_id: <%=@user.id%>,
        }
    });
  }
</script>