<h2> My Yoribook </h2>
    
<div class="horizontal-tab">
  <button class="tablinks" onclick="openSort(event, 'sortbyletter')">ㄱㄴㄷ순 정렬</button>
  <button class="tablinks" onclick="openSort(event, 'sortbydate')">날짜순 정렬</button>
</div>
    
<!--Yoribook--> 
<div class="main-wrapper yoribook">
  <div class="tab tab-outside">
      <button class="tablinks" onclick="openRtab(event, 'myrecipe')">내 레시피</button>
      <button class="tablinks" onclick="openRtab(event, 'scrapbook')">내 스크랩</button>
      <button class="tablinks" onclick="openRtab(event, 'all')">전체보기</button>
  </div>
  
  <div class="cover-wrapper">
      <!-- Dynamically generate Recipes -->
      <% @currentPosts.each do |currentPost| %>
        <div class="recipe-wrapper">
          <div class="recipe-left">
            <div class="recipe-picture-wrapper">
            </div>
            <div class="recipe-name-wrapper">
              <h4 class="card-title">
                <a href="/yojo/yori/<%=currentPost.yori_id%>"><%=Yori.find(currentPost.yori_id).name%></a>
              </h4>
            </div>
          </div>
          <div class="recipe-right">
            <p>매인재료: <%=currentPost.main%></p>
            <p>선택재료: <%=currentPost.optional%></p>
            <p>양념: <%=currentPost.seasoning%></p>
          </div>
        </div>
      <% end %>
  </div>
</div>

<a href="/#search">레시피 찾기</a>
<a href="/yojo/new_yori">레시피 등록</a>


<!-- Tab Pagination -->
<!-- TODO: Disable prev/next if not allowed -->
<ul class="pagination">
  <li class="page-item"><a class="page-link" href="<%=@currentPageNum - 1%>">prev</a></li>
  
<% for i in 0...@maxPageCount %>
  <li class="page-item"><a class="page-link" href="<%=i%>"><%=i + 1%></a></li>
<% end %>

  <li class="page-item"><a class="page-link" href="<%=@currentPageNum + 1%>">next</a></li>
</ul>