<!--Yoribook--> 

<div class="main-wrapper yoribook">
  <div class="navi-tab">
    <a href="/#search"><button style="right: 20px">요리조합</button></a>
    <a href="/yojo/kitchen/<%=current_user.id%>"><button style="right: 15px">my키친</button></a>
    <a href="/yojo/new_yori"><button style="width: 100px; right: 20px">레시피 올리기</button></a>
  </div>
  <div class="book-tab">
      <button style="left: 2px">책 레시피</button>
      <button style="left: 5px">스크랩</button>
      <button style="left: 8px">팔로윙</button>
      <button style="left: 12px"">전체보기</button>
  </div>
  
  <div class="cover-wrapper">
    <!-- Dynamically generate Recipes -->
    <% @posts.each do |post| %>
      <% @yori = Yori.find(post.yori_id) %>
      <div class="recipe-wrapper">
        <div class="recipe-left">
          <div class="recipe-picture-wrapper">
          </div>
          <div class="recipe-name-wrapper">
            <h4 class="card-title">
              <a href="/yojo/yori/<%=post.yori_id%>"><%=Yori.find(post.yori_id).name%></a>
            </h4>
          </div>
        </div>
        <div class="recipe-right">
          <p>매인재료: <%=post.main%></p>
          <p>선택재료: <%=post.optional%></p>
          <p>양념: <%=post.seasoning%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
    

<% if @posts.length > 0 %>
  <!-- Tab Pagination -->
  <div class="page-center">
    <ul id="page-list" class="pagination">
      <li class="page-item"><a class="page-link" <% if @current_page > 0 %>
      href="<%=@current_page - 1%>"<%end%>>prev</a></li>
    <% for i in 0...@max_page %>
      <li class="page-item"><a <%if i == @current_page%>id="current-page"<%end%>class="page-link" href="<%=i%>"><%=i + 1%></a></li>
    <% end %>
      <li class="page-item"><a class="page-link" <% if @current_page+1 < @max_page %>
      href="<%=@current_page + 1%>"<%end%>>next</a></li>
    </ul>
  </div>
<% end %>