<!-- Sidebar -->
<div class="sidenav">
  <a href<% if user_signed_in? %>='/yojo/kitchen/<%=current_user.id%>'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="마이키친 페이지"><img class="icon" src="/assets/fridge.png"><p>마이 키친</p></a><br>
  
  <a href<% if user_signed_in? %>='/yojo/yori_book/<%=current_user.id%>'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="내 요리 & 스크랩한 레시피"><img class="icon" src="/assets/book.png"><p>내 요리북</p></a><br>
  <a href<% if user_signed_in? %>='/yojo/new_yori'<% else %> onclick="guestWarning()" <% end %>
    data-toggle="tooltip" data-placement="right" title="나만의 레시피를 올려보아요"><img class="icon" src="/assets/edit.png"><p>레시피 올리기</p></a><br>
</div>
     
<div class="yori-wrapper">
    <div class="title">
        <!--<a href="/yojo/kitchen/<%=@user.id%>" style="position: absolute; right: 10vw; top: 0"><p><%=@user.username%>님 키친 가기</p></a>-->
        <!--<a href="/yojo/yori_book/<%=@user.id%>/0" style="position: absolute; right: 10vw; top: 30px"><p><%=@user.username%>님 요리북 가기</p></a>-->
        <h1 class="mt-5"><%= @yori.name %></h1>
        <% if user_signed_in? %>
            <a href="/yojo/kitchen/<%=@user.id%>"><p> by. <%= @user.username %></p></a>
        <% else %>
            <p> by. <%= @user.username %></p>
        <% end %>
        <br>
        
        <% if @post.subtitle != "" %> 
            <p class=sub><%= @post.subtitle %></p>
        <% else %>
            <br>
        <% end %>
        
        <span id="like-wrapper">
            <a onclick=<% if user_signed_in? %>"like()"<% else %>"guestWarning()"<% end %>>
                <% if @likes.length == 0 %>
                    <img src='/assets/tomato.png' onmouseover="this.src='/assets/tomato-hover.png'" onmouseout="this.src='/assets/tomato.png'" />
                <% else %>
                    <img src='/assets/tomato-color.png' onmouseover="this.src='/assets/tomato-hover.png'" onmouseout="this.src='/assets/tomato-color.png'" />
                <% end %>
            </a>
            <a id="likes" data-toggle="modal" data-target="#like_modal">
                좋아요 <%=@post.likes.length%>
            </a>
        </span>
        
        <span id="scrap-wrapper">
            <a onclick=<% if user_signed_in? %>"scrap()"<% else %>"guestWarning()"<% end %>>
                <% if @scraps.length == 0 %>
                    <img src='/assets/scoop.png' onmouseover="this.src='/assets/scoop-hover.png'" onmouseout="this.src='/assets/scoop.png'" />
                <% else %>
                    <img src='/assets/scoop-color.png' onmouseover="this.src='/assets/scoop-hover.png'" onmouseout="this.src='/assets/scoop-color.png'" />
                <% end %>
            </a>
            <a id="scraps" data-toggle="modal" data-target="#scrap_modal">
                스크랩 <%=@post.scraps.length%>
            </a>
        </span>
    </div>
    
    <div class="modal fade" id="like_modal" role="dialog" style="position:absolute">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 style="position: absolute;">좋아요</h4>
            </div>
            <div class="modal-body">                            
                <% if @post_likes.length > 0 %>
                    <ul>
                    <% @post_likes.each do |like| %>
                        <li><a href="/yojo/kitchen/<%=like.user_id%>" target> <%= User.find(like.user_id).username %></a></li>
                    <% end %>
                    </ul>
                <% end %>
            </div>
          </div>
        </div>
    </div>
    

    <div class="modal fade" id="scrap_modal" role="dialog" style="position:absolute">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 style="position: absolute;">스크랩</h4>
            </div>
            <div class="modal-body">                            
                <% if @post_scraps.length > 0 %>
                    <ul>
                    <% @post_scraps.each do |scrap| %>
                        <li><a href="/yojo/kitchen/<%=scrap.user_id%>" target> <%= User.find(scrap.user_id).username %></a></li>
                    <% end %>
                    </ul>
                <% end %>
            </div>
          </div>
        </div>
    </div>
    
    <div class="yori">
        <div class="yori-top">
            <div class="image">
                <img id="demo" src=<%= @post.image %>>
            </div>
            
            <div class="ingredient">
                <% if @post.main != "" %>
                    <h4>메인 재료</h4>
                    <p><%= @post.main %></p>
                <% end %>
                
                <% if @post.optional != "" %>
                    <h4>선택 재료</h4> 
                    <p><%= @post.optional %></p>
                <% end %>
                
                <% if @post.seasoning != "" %>
                    <h4>소스</h4> 
                    <p><%= @post.seasoning %></p>
                <% end %>
            </div>
        </div>
        
        <% if @post.steps[0] != "" %>
            <% for i in 1..@post.steps.length %>
            <div class="steps mt-4">
                <p>STEP <%=i%><br>
                <%=@post.steps[i-1]%></p>
            </div>
            <% end %>
        <% end %>
    
        <br>
        
        <% if user_signed_in? %>
            <% if current_user.id == @yori.user_id %>
                <a class="roundbtn" href="/yojo/edit_yori/<%= @yori.id %>">수정</a>
                <a class="roundbtn" href="/yojo/destroy_yori/<%= @yori.id %>" data-confirm="진짜로 삭제하시겠어요?" data-method="post">삭제</a>
            <% end %>
        <% end %>
        
        <a class="roundbtn" href onclick="back()">뒤로</a>
        
        <hr>
        <h4 style="margin: 2rem">댓글을 남겨주세요</h4>
        <form action='/yojo/yori/<%= @yori.id %>/comments/create'>
            <input type='text' class="bar" name='input_comment'>
            <input class="roundbtn" type=submit value="댓글달기">
        </form>
        
        <hr>
        <% if user_signed_in? %>
            <% @comments.each do |comment| %>
                <p>
                    <a id="comment" href="/yojo/kitchen/<%=comment.user_id%>"> <%= comment.username %></a> - <%= comment.content %>
                        <% if current_user.id == comment.user_id %>
                            <a id="comment" href="/yojo/yori/<%= @yori.id %>/comments/destroy/<%= comment.id %>" data-confirm="진짜로 삭제하시겠어요?" data-method="post">  x</a>
                        <% end %>                
                
                </p>
            <% end %>
            </p>
        <% end %>
        
        <script>
            function like() {
                <% if user_signed_in? %>
                    $.ajax({
                        url : "/yojo/like",
                        type : "get",
                        data : { 
                            user_id: <%=current_user.id%>,
                            post_id: <%=@post.id%>
                        }
                    });
                <% end %>
            }
            
            function scrap() {
                <% if user_signed_in? %>
                    $.ajax({
                        url : "/yojo/scrap",
                        type : "get",
                        data : {
                            user_id: <%=current_user.id%>,
                            post_id: <%=@post.id%>
                        }
                    });
                <% end %>
            }
        </script>
        
     </div>
</div>

