<div class="text-center sign">
  <h2>Log In</h2>
  
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div class="form-inputs sign-wrap">
      <%= f.text_field :login, autofocus: true, class: 'form-control',  placeholder: 'User ID' %>
      <br>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password', as: :boolean if devise_mapping.rememberable? %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, "Log In" %>
    </div>
    
  <% end %>
  <br>
  
  <span>
  <%= render "devise/shared/links" %>
  </span>
</div>

      
<!--<= f.input :password, class: 'sr-only', label: 'Password&nbsp'.html_safe %>-->
<!--<= f.input :remember_me, class: 'form-control', placeholder: '비밀번호를 입력하세요', as: :boolean if devise_mapping.rememberable? %>-->